.navbar {
  text-align: center;
  background: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 3px;
}
.navbar ul {
  list-style-type: none;
  display: inline-flex;
  list-style: none;
}
.navbar ul li {
  width: 200px;
  margin: 20px;
  padding: 15px;
  font-size: larger;
}
.navbar ul a {
  text-decoration: none;
  color: black;
}

#general,
.active:hover {
  background-color: grey;
  border-radius: 3px;
}
.shop-dropdown {
  display: none;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul li:hover .shop-dropdown {
  display: block;
  position: absolute;
  background-color: lightgrey;
  margin-top: 15px;
  margin-left: -15px;
  margin-right: 10px;
}
.navbar ul li:hover .shop-dropdown ul {
  display: block;
  margin-left: -40px;
}
.navbar ul li:hover .shop-dropdown ul li {
  text-align: left;
  padding: 10px;
  font-size: large;
}
.shop-dropdown ul li:hover {
  background-color: white;
}
.holiday-dropdown {
  display: none;
}
.navbar ul li:hover .holiday-dropdown {
  display: block;
  position: absolute;
  background-color: lightgrey;
  margin-top: 15px;
  margin-left: -15px;
  margin-right: 10px;
}
.navbar ul li:hover .holiday-dropdown ul {
  display: block;
  margin-left: -40px;
  text-align: left;
}
.holiday-dropdown ul li {
  font-size: large;
}
.holiday-dropdown ul li:hover {
  background-color: white;
}
.icon {
  font-size: 35px;
  text-align: center;
  margin-top: -15px;
}
#cart-basket {
  color: white;
  font-size: 18px;
}
#cart-outline:hover {
 
}
